<form action="/signin" method="post" enctype="multipart/form-data">
    Username: <input type="text" name="username"/><br/>
    Password: <input type="text" name="password"/>
    <input type="submit" value="Login"/></form>