<div style="background: rgba(255, 255, 255, 1.0);"><bold><font color="black"><table><tr><th>Chat</th></tr><tr><td>2018-06-04 02:59:14 - aafr770: Hello</td></tr><tr><td>2018-06-04 02:59:34 - gxu630: Hey1 </td></tr></table></font></bold></div>