.elementor-257 .elementor-element.elementor-element-fea7424 {
	background-position: center; padding: 0px; transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; background-image: url("http://george-x.nz/wp-content/uploads/2018/05/508351136.jpg"); background-repeat: no-repeat; background-size: cover;
}
.elementor-257 .elementor-element.elementor-element-fea7424 > .elementor-background-overlay {
	transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257 .elementor-element.elementor-element-77b9f29 > .elementor-element-populated {
	padding: 0px;
}
.elementor-257 .elementor-element.elementor-element-b3bb479 {
	text-align: center;
}
.elementor-257 .elementor-element.elementor-element-b3bb479.elementor-widget-heading .elementor-heading-title {
	color: rgb(255, 255, 255);
}
.elementor-257 .elementor-element.elementor-element-b3bb479 .elementor-heading-title {
	font-family: "Raleway", Sans-serif; font-size: 61px; font-weight: 400; text-shadow: 0px 0px 11px rgba(0,0,0,0.63);
}
.elementor-257 .elementor-element.elementor-element-b3bb479 > .elementor-widget-container {
	margin: 120px 0px 50px;
}
.elementor-257 .elementor-element.elementor-element-b3bb479 .elementor-widget-container {
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-field-group {
	padding-right: calc( 10px/2 ); padding-left: calc( 10px/2 ); margin-bottom: 10px;
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-form-fields-wrapper {
	margin-right: calc( -10px/2 ); margin-bottom: -10px; margin-left: calc( -10px/2 );
}
body.rtl .elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}
body .elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-field-group > label {
	color: rgb(255, 255, 255);
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-field-subgroup label {
	color: rgb(255, 255, 255);
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c :not(.elementor-field-type-upload).elementor-field-group :not(.elementor-select-wrapper).elementor-field {
	border-width: 1px; background-color: rgb(255, 255, 255);
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-field-group .elementor-select-wrapper select {
	border-width: 1px; background-color: rgb(255, 255, 255);
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-button {
	background-color: rgb(98, 28, 204);
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c > .elementor-widget-container {
	margin: 0px 0px 150px; padding: 0px;
}
.elementor-257 .elementor-element.elementor-element-d7e0f3c .elementor-widget-container {
	transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
